/* General */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #fff;
}
body {
    background-color: rgb(0, 0, 0);
}
.title h2 {
    position: relative;
    font-family: 'Audiowide', cursive;
    font-weight: 900;
    text-transform: capitalize;
    padding: 0 60px;
    margin: 40 0;
}
.title h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 50px;
    bottom: 5px;
    background: #0d6efd;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}
.sub-title h2 {
    position: relative;
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0 80px;
    margin: 40 0;
}
.sub-title h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 70px;
    bottom: 5px;
    background: #0d6efd;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}
.skew {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
/* Section 1 */
header {
    background-image: url(../Images/Cover.jpg);
    background-size: cover;
}
.cover {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
}
/* Section 2 */
.cus-table td{
    padding: 0 10px;
}
/* Section 4 */
.border-grad{
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(45deg,#0d6dfd,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgb(13, 110, 253)) 1;
}
h3{
    font-size: 25px;
    height: 70px;
    padding: 0 5px;
}
h4{
    font-size: medium;
}