/* General */
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
}

body {
  background-color: rgb(0, 0, 0);
}

.title h2 {
  position: relative;
  font-family: 'Audiowide', cursive;
  font-weight: 900;
  text-transform: capitalize;
  padding: 0 60px;
  /* margin: 40 0; */
  z-index: -1;
}

.title h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 50px;
  bottom: 5px;
  background: #0d6efd;
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}

.sub-title h2 {
  position: relative;
  font-family: 'Audiowide', cursive;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0 60px;
  margin: 40 0;
  z-index: -1;
}

.sub-title h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 50px;
  bottom: 5px;
  background: #0d6efd;
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}

.skew {
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.skew-rev {
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

i:hover,
.nav-link:hover {
  color: #0d6dfd !important;
  transition: 0.5s;
}

.trash-ani:hover {
  color: #dc3545 !important;
  transition: 0.5s;
}

.edit-ani:hover {
  color: #198754 !important;
  transition: 0.5s;
}

.cart-ani:hover {
  color: #f0ad4e !important;
  transition: 0.5s;
}

.add-ani:hover {
  color: #0d6dfd !important;
  border-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(255, 255, 255)) 1 !important;
  transition: 0.5s;
}

/* Section 1 - Home*/
header {
  background-image: url(../Images/Cover.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.cover {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
}

/* Section 3 - Categories */
/* .cat-hov,
.cat-hov h3,
.cat-hov i,
.under-none a {
  color: #fff !important;
  background: #0d6dfd !important;
  transition: 0.5s;
  text-decoration: none;
}

.cat-hov:hover,
.cat-hov:hover h3,
.cat-hov:hover i {
  color: #0d6dfd !important;
  background: #fff !important;
  cursor: pointer;
} */

.owl-carousel .owl-item {
  float: left
}

/*Products*/
.products-area .catagories-lists {
  display: block;
  position: relative;
  width: 100%;
  height: 230px;
  text-align: center;
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  background: #222;
  transition: all 0.3s;
  border: 1px solid #0d6dfd;
}

.products-area .pro-ctg {
  margin: 0 0 80px;
}

.products-area .catagories-lists.nd {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.products-area .catagories-lists .contents {
  display: block;
  padding: 75px 0;
}

.btn1 {
  margin: 3%;
  display: inline-block;
  position: relative;
  padding: 0 60px;
  line-height: 50px;
  height: 50px;
  background: #0d6dfd;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  clip-path: polygon(12% 0%, 100% 0, 88% 100%, 0% 100%);
}

.btn1:hover {
  background: #111;
  color: #fff;
}

.btn4 {
  display: inline-block;
  position: relative;
  padding: 0 60px;
  line-height: 46px;
  height: 50px;
  background: transparent;
  border: 2px solid #0d6dfd;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-clip-path: polygon(12% 0%, 100% 0, 88% 100%, 0% 100%);
  clip-path: polygon(12% 0%, 100% 0, 88% 100%, 0% 100%);
}

.btn4:after {
  content: '';
  position: absolute;
  right: 11px;
  top: -5px;
  bottom: -5px;
  width: 2px;
  transform: rotate(27deg);
  background: #0d6dfd;
}

.btn4:before {
  content: '';
  position: absolute;
  left: 11px;
  top: -5px;
  bottom: -5px;
  width: 2px;
  transform: rotate(27.8deg);
  background: #0d6dfd;
}

.btn4:hover {
  background: #0d6dfd;
  color: #fff;
}

.products-area .owl-controls .owl-buttons {
  position: absolute;
  left: 15px;
  right: 13px;
  top: 45%;
}

.products-area .owl-controls .owl-buttons div {
  opacity: 1;
  display: block;
  border-radius: 0;
  background: #0d6dfd;
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0;
  position: absolute;
  font-size: 15px;
  transition: all 0.3s;
}

.products-area .owl-controls .owl-buttons div.owl-prev {
  left: -73px;
  padding: 0 25px 0 33px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
}

.products-area .owl-controls .owl-buttons div.owl-next {
  right: -54px;
  padding: 0 33px 0 25px;
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}

.products-area .catagories-lists:hover {
  background: #0d6dfd;
  border: 1px solid #0d6dfd;
}

.products-area .pro-sliders .products {
  text-align: center;
  display: block;
  position: relative;
}

/*hover imag*/
.products-area .pro-sliders .products figure {
  display: block;
  position: relative;
  overflow: hidden;
}

.products-area .pro-sliders .products figure img {
  width: 100%;
  transition: all 0.3s;
}

.products-area .pro-sliders .products .contents {
  display: block;
  position: relative;
  border: 1px solid #0d6dfd;
  border-top: none;
  padding: 40px 0;
  transition: all 0.3s;
}

.products-area .pro-sliders .products .contents h3,
span,
.catagories-lists .contents h3 {
  font-size: 22px;
  font-weight: 400;
  font-family: "Audiowide", cursive;
  color: #fffefe;
  margin: 0 0 10px;
}

.products-area .pro-sliders .products:hover figure img {
  transform: scale(1.1) rotate(5deg);
}

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%
}

#nav-placeholder {
  z-index: 9999;
}

/* Section 4 - Products */
.border-grad {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(45deg, #0d6dfd, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(13, 110, 253)) 1;
}

.Prd-Title {
  font-size: 25px;
  height: 70px;
  padding: 0 5px;
}

.prd-Price {
  font-size: medium;
}
.add-btn {
  z-index: 99;
  position: fixed;
  font-size: 40px;
  padding: 10px;
  top: 250px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(13, 110, 253)) 1;
  background-color: #000;
}
/* Section 5 - Products Details */
.w-qty {
  width: 50px;
}

.b-qty {
  border-width: 1px;
}

/* Section 6 - Cart */
.crt-menu {
  z-index: 99;
  position: fixed;
  padding: 15px 30px;
  width: 400px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: auto;
  background-color: #000;
  display: flex;
}

.bb-crt-item {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-image: linear-gradient(0.25turn, rgb(13, 110, 253), rgba(0, 0, 0, 0)) 1;
}

.bt-crt-item {
  border-top-width: 3px;
  border-top-style: solid;
  border-image: linear-gradient(0.25turn, rgba(0, 0, 0, 0), rgb(13, 110, 253)) 1;
}

.scroll {
  height: 700px;
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}


/* Login */
.invalid-user{
  display: none;
}
.valid-user{
  display: none;
}

.date-picker{
  --dd-background: #121212 ;
  --dd-primary: #0d6dfd ;
  --dd-gradient: #0d6dfd;
  --dd-monthBackground: var(--dd-gradient);
  --dd-selectedBackground: var(--dd-gradient);
  --dd-confirmButtonBackground: var(--dd-gradient);
}